@media only screen and (max-width: 800px) {

	body {
		background-color: $color-white;
		font-size: rem(16);
	}
	p {
		font-size: rem(15);
	}
	.site-inner {
		padding-top: 20px;
	}

	.site-inner,
	.wrap {
		padding-left: 5%;
		padding-right: 5%;
	}

	.archive-description,
	.author-box,
	.comment-respond,
	.entry,
	.entry-comments,
	.entry-pings,
	.sidebar .widget,
	.site-header {
		padding: 5px;
	}

	.archive-pagination li a {
		margin-bottom: 4px;
	}

	.five-sixths,
	.four-sixths,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.three-fourths,
	.three-sixths,
	.two-fourths,
	.two-sixths,
	.two-thirds {
		margin: 0;
		width: 100%;
	}

	.sidebar .widget.enews-widget {
		padding: 40px;
	}

	.site-header {
		.widget-area {
			margin-top: 0;
		}
		.wrap {
    		padding: 0;
		}
	}
	h1.entry-title,
	h1.archive-title,
	h2.entry-title {
		font-size: rem(24);
    	margin: auto;
    	padding: 15px;
    	text-align: center;
	}

	h2.entry-title, h3 {
		font-size: rem(18);
	}

	.entry .entry-content div {
		padding:0;
	}

	.site-footer {

		.wrap p {
			padding: 0 20px;
		}
	}
	.to-top {
		height:30px;
		width:30px;
		bottom:70px;
		right:5px;
	}
	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"],
	.button {
		font-size: rem(12);
		padding: 4px 10px;
		width: auto;
	}
	.title-area {
		padding: 0;
	}
	.site-title {
		font-size: rem(16);
	}
	.site-title a {
		background: url(images/tanzsport-logo-final2.png) no-repeat;
		background-size: 100% auto;
	}
}
