/* # Site Footer
---------------------------------------------------------------------------------------------------- */
/* keep the footer at bottom of page when no or little content */
html,
body {
	margin:0;
	padding:0;
	height:100%;
}
.site-container {
	min-height:100%;
	position:relative;
}
.site-inner {
	padding-bottom:100px; /* Height of the footer element */
}
.site-footer {
	width:100%;
	height:100px;
	position:absolute;
	bottom:0;
	left:0;
}
/* end of keep the footer at bottom of page when no or little content */

.site-footer {
	background-color: $color-blue;
	color:  $color-white;
	font-size: rem(14);
	line-height: 1;
	padding: 25px 0;
	text-align: center;

	p {
		margin-bottom: 0;
	}
	a {
		color:  $color-white;
	}
	.wrap p {
      overflow: hidden;
      padding: 0 60px;
   }
	.footer-left {
		float:left;
		text-align: left;
	}
	.footer-right {
		float:right;
		text-align: right;
	}
}
