/* ## Genesis
--------------------------------------------- */

.breadcrumb {
	margin-bottom: 20px;
}

.archive-description,
.author-box {
	background-color: $color-white;
	font-size: rem(16);
	margin-bottom: 40px;
	padding: 40px;
}

.author-box-title {
	font-size: rem(16);
	margin-bottom: 4px;
}

.archive-description p:last-child,
.author-box p:last-child {
	margin-bottom: 0;
}