/* ## Entries
--------------------------------------------- */

.entry {
	margin-bottom: 40px;
	padding: 50px 60px;
}

.content .entry {
	background-color: $color-white;
}

.entry-content {

	ol,
	ul {
		margin-bottom: 28px;
		margin-left: 40px;
	}

	ol > li {
		list-style-type: decimal;
	}

	ul > li {
		list-style-type: disc;
	}

	ol ol,
	ul ul {
		margin-bottom: 0;
	}

	code {
		background-color: $color-mine-shaft;
		color: $color-alto;
	}
}
a.alignleft, img.alignleft, .wp-caption.alignleft,
a.alignright, img.alignright, .wp-caption.alignright {
    margin: 20px 20px 20px 0;
   //  border: 7px solid $color-black;
}
a.alignright, img.alignright, .wp-caption.alignright {
    margin: 20px 0 20px 20px;
}

#vorstandsbild {
	margin-right:50px;
}
