/* ## Featured Content
--------------------------------------------- */

.featured-content {

	.entry {
		border-bottom: 2px solid $color-whitesmoke;
		margin-bottom: 20px;
		padding: 0 0 24px;
	}

	.entry-title {
		font-size: rem(20);
	}
}

.footer-widgets .entry {
	border-bottom: 1px dotted $color-dove-gray;
}
