// Fonts
$font-sans:  Lato, sans-serif;
$font-header: 'Montserrat', sans-serif;
$font-mono:  'Monoton', cursive;


// Sets global base em size for the px-to-em and px-to-rem function.
// This should be the same size as your body font-size.
$em-base: 16px;
