/* # Site Navigation
---------------------------------------------------------------------------------------------------- */

.genesis-nav-menu {
	clear: both;
	font-size: rem(16);
	line-height: 1;
	width: 100%;

	.menu-item {
		display: inline-block;
		text-align: left;
	}

	a {
		color: $color-white;
		text-decoration: none;
		display: block;
		padding: 30px 24px;
	}

	a:hover,
	a:focus,
	.current-menu-item > a,
	.sub-menu .current-menu-item > a:hover,
	.sub-menu .current-menu-item > a:focus  {
		color: $color-green;
		text-decoration: none;
		text-weight:bold;
	}

	.sub-menu {
		@include transition(opacity .4s ease-in-out);
		@include position(absolute, null null null -9999px);

		opacity: 0;
		width: 200px;
		z-index: 99;

		a {
			background-color: $color-white;
			border: 1px solid $color-gallery;
			border-top: 0;
			font-size: rem(14);
			padding: 20px;
			position: relative;
			width: 200px;
			word-wrap: break-word;
		}

		.sub-menu {
			margin: -55px 0 0 199px;
		}
	}

	.menu-item:hover {
		position: static;

		> .sub-menu {
			left: auto;
			opacity: 1;
		}
	}

	> .first > a {
		padding-left: 0;
	}

	> .last > a {
		padding-right: 0;
	}

	> .right {
		color: $color-white;
		float: right;
		list-style-type: none;
		padding: 30px 0;
	}

	> .right > a {
		display: inline;
		padding: 0;
	}

	> .rss > a {
		margin-left: 48px;
	}

	> .search {
		padding: 10px 0 0;
	}
}
